{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}
<center>
<form role="form" class="form-horizontal" method="post" action="{% url 'login' %}">
{% csrf_token %}
 <div class="panel panel-success">
  <div class="panel-heading">
   <h2 class="panel-title">{{ auth.title }}</h2>
  </div>
  <div class="panel-body">
   <div class="col-xs-10">
   {% bootstrap_form form %}
   </div>
   <button class="btn btn-danger" type="submit">{{ auth.submit }}</button>
   <input type="hidden" name="next" value="{{ next }}" />
  </div>
  <div class="footer">
    <a href="{% url 'password_reset_recover' %}">Forgot password?</a>
  </div>
 </div>
</form>
</center>
{% endblock %}
