{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

{% block errors %}
  {% if error_message %}<p class="alert alert-danger">{{ error_message }}</p>{% endif %}
{% endblock %}

{% block form %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">{{ pwd.change.title }}&nbsp;{{ user }}</h2>
    </div>
    <div class="panel-body">
      <p>{{ desc }}</p>
    </div>
    <div class="panel-body">
    <form role="form" class="form-horizontal" action="." method="post">
      {% csrf_token %}
      <div class="col-xs-10">
       {% bootstrap_form form %}
       {% buttons %}
        <div class="btn-toolbar">
         <div class="btn-group pull-right">
          <button class="btn btn-info" type="submit" value="{{ pwd.change.submit }}">{{ pwd.change.submit }}</button>
         </div>
        </div>
      {% endbuttons %}
      </div>
    </form>
    </div>
  </div>
{% endblock %}

{% endblock %}

