<div class="overview">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">{{ overview.title }}</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <dl class="dl-horizontal">
          <dt>{{ overview.first_name }}</dt><dd class="lead">{{ first_name }}</dd>
          <dt>{{ overview.last_name }}</dt><dd class="lead">{{ last_name }}</dd>
        </dl>
      </div>
      <div class="col-sm-6">
        <dl class="dl-horizontal">
          <dt>{{ overview.username }}</dt><dd class="lead">{{ username }}</dd>
          <dt>{{ overview.email }}</dt><dd class="lead">{{ email }}</dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <dl class="dl-horizontal">
          <dt>{{ overview.perms }}</dt><dd class="lead">{{ perms }}</dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <dl class="dl-horizontal">
          <dt>{{ overview.type }}</dt><dd class="lead">{{ type }}</dd>
          <dt>{{ overview.fte }}</dt><dd class="lead">{{ fte }}</dd>
        </dl>
      </div>
      <div class="col-sm-6">
        <dl class="dl-horizontal">
          <dt>{{ overview.weekplan }}</dt><dd class="lead">{{ weekplan }}</dd>
          <dt>{{ overview.salary }}</dt><dd class="lead">{{ salary }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
</div>
