<div class="overview">
<div class="panel panel-success">
  <div class="panel-heading">
    <center><h2>{{ title|safe }}</h2></center>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-8">
	<h4>Managers</h4>
	<ul class="list-group">
	  <li class="list-group-item list-group-item-success">
    	    <span class="badge">Head of List</span>
	    {{ member.head_of_list.first_name }} {{ member.head_of_list.last_name|upper }} ({{ member.head_of_list.email }})
  	  </li>
        {% if member.delegate %}
	  <li class="list-group-item list-group-item-info">
    	    <span class="badge">Delegate</span>
	    {{ member.delegate.first_name }} {{ member.delegate.last_name|upper }} ({{ member.delegate.email }})
  	  </li>
	{% endif %}
	</ul>
      </div>
      <div class="col-sm-4">
        <blockquote>
        <address>
          {% if member.organisation %}
	    <b>{{ member.organisation.name }}</b><br/>
	  {% else %}
	    <b>{{ member.head_of_list.first_name }} {{ member.head_of_list.last_name|upper }}</b><br/>
	  {% endif %}
          {{ member.address.street }}<br/>
          {{ member.address.postal_code }} {{ member.address.town }}<br/>
          {{ country|upper }}
        </address>
        </blockquote>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>All users registered on this membership:</p>
        <table class="table table-condensed table-striped">
         <tr> {# headers #}
          <th>Role</th>
          <th>Firstname</th>
          <th>Name</th>
          <th>Email</th>
          <th>Login</th>
          <th>Affiliations</th>
          <th class="text-center">Actions</th>
         </tr>
 
         {% for u in users %}
         <tr>
          <td>
           {% if u.role == 'hol' %}<span class="fa fa-user-circle text-success"></span>{% endif %}
           {% if u.role == 'del' %}<span class="fa fa-user-secret text-info"></span>{% endif %}
           {% if u.role == 'u' %}<span class="fa fa-user"></span>{% endif %}
          </td>
          <td>{{ u.first_name }}</td>
          <td>{{ u.last_name|upper }}</td>
          <td>{{ u.email }}</td>
          <td>{{ u.username }}</td>
          <td>{{ u.affil|safe }}</td>
  	  <td>
            <div class="btn-group-vertical pull-right" role="group">
              {% if u.username == U.username %}
	        <a class="btn btn-sm btn-danger" role="button" href="/profile/moduser/{{ u.username }}/" title=""><i class="fa fa-pencil-square"></i>&nbsp;&nbsp;Modify User</a>
              {% endif %}
            </div>
          </td>

         </tr>
         {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
</div>
