<div class="overview">
<div class="panel panel-primary">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        {{ overview.date }}<p class="lead">{{ when }} {{ time }}</p>
      </div>
      <div class="col-sm-6">
        {{ overview.location }}<address class="lead">{{ location }}<br/>{{ address }}</address>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-6">
        {{ overview.attendance }} ({{ attendance|length }})
        <table class="table table-condensed">
         {% for a in attendance %}
         <tr>
          <td class="lead">{{ a.first_name }}</td>
          <td class="lead">{{ a.last_name|upper }}</td>
         </tr>
         {% endfor %}
        </table>
      </div>
      <div class="col-sm-6">
        {{ overview.excused }} ({{ excused|length }})
        <table class="table table-condensed">
         {% for e in excused %}
         <tr>
          <td class="lead">{{ e.first_name }}</td>
          <td class="lead">{{ e.last_name|upper }}</td>
         </tr>
         {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
</div>
