<div class="overview">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">{{ overview.title }}</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <dl class="dl-horizontal">
          <dt>{{ overview.employee }}</dt><dd class="lead">{{ employee }}</dd>
          <dt>{{ overview.valid_from }}</dt><dd class="lead">{{ valid_from }}</dd>
        </dl>
      </div>
      <div class="col-sm-6">
        <dl class="dl-horizontal">
          <dt>{{ overview.monthly }}</dt><dd class="lead">{{ monthly }}</dd>
          <dt>{{ overview.monthly_E }}</dt><dd class="lead">{{ monthly_E }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
</div>
