django==2.2.24
django-breadcrumbs
django-formtools
django-tables2
django-password-reset
reportlab
django-recaptcha
django-bootstrap4
django-bootstrap4-datetimepicker
django-ldapdb
django-import-export
