{% extends "base.html" %}

{% block content %}
    <!-- upload -->
    <div class="pull-right">
      <a type="button" class="btn btn-warning" href="/dav/members/upload/?path={{ res.get_escaped_path }}"><span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;&nbsp;Upload file</a>
    </div>

    <!-- list -->
    <div class="jumbotron">
    <h3>Index of: {{ res.get_escaped_path }}</h3>
    <div class="col-xs-3">
      {% if not res.get_escaped_path %}<a href="{{ base_url }}{{ res.get_parent.get_escaped_path }}"><span class="glyphicon glyphicon-chevron-up"> up</span></a>{% endif %}
    </div>
    <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th>Last modified</th>
      <th>Size</th>
    </tr>
    {% for child in res.get_children %}
    <tr>
      <td><a href="{{ base_url }}{{ child.get_escaped_path }}">{{ child.displayname }}</a></td>
      <td>{{ child.get_created|date:"d-M-Y H:i" }}</td>
      <td>{{ child.get_modified|date:"d-M-Y H:i" }}</td>
      <td>{{ child.getcontentlength|filesizeformat }}</td>
    </tr>
    {% endfor %}
    </table>
    </div> <!-- end jumbotron -->
{% endblock %}
  
