{% extends "password_reset/base.html" %}
{% load url from future %}
{% load bootstrap4 %}

{% block content %}
<center>
<form role="form" class="form-horizontal" method="post" action="{{ url }}">
{% csrf_token %}
 <div class="panel panel-danger">
  <div class="panel-heading">
   <h2 class="panel-title">{{ pwd.recover.title }}</h2>
  </div>
  <div class="panel-body">
   <div class="col-xs-10">
    {% bootstrap_form form %}
   </div>
   <button class="btn btn-warning" type="submit">{{ pwd.recover.submit }}</button>
  </div>
 </div>
</form>
</center>
{% endblock %}
