{% extends "base_rightbox.html" %}

{% block content %}
  <h2>{{ title }}</h2>
  <p>{{ desc }}</p>
  <center><fieldset>
  <ul>
{% for action in actions %}
  {%if action.has_perms in perms or not action.has_perms %}
    {% if action.url %}
      {% if not forloop.first %}<hr width="50%"/>{% endif %}
      <li style="list-style:none"><a href="{{ action.url }}"><b>&gt;&nbsp;{{ action.label }}&nbsp;&lt;</b></a><br />
      {% if action.desc %}<span>( {{ action.desc }} )</span>{% endif %}
      </li>
    {% else %}
      <br />
    {% endif %}
  {% endif %}
{% endfor %}
  </ul>
  </fieldset></center>
{% endblock %}

