<center>
<fieldset class="overview"><legend><h2>{{ overview.title }}</h2></legend>
 <table>
  <tr>
   <th>{{ overview.name }}</th><td>{{ name }}</td>
   <th>{{ overview.type }}</th><td>{{ type }}</td>
  </tr>  
  <tr>
   <th>{{ overview.contact }}</th><td>{{ contact }}</td>
   <th>{{ overview.email }}</th><td>{{ email }}</td>
  </tr>  
  <tr>
   <th>{{ overview.address_1 }}</th><td>{{ address_1 }}</td>
   <th>{{ overview.address_2 }}</th><td>{{ address_2 }}</td>
  </tr>
  <tr>
   <th>{{ overview.bank_details }}</th><td colspan="3">{{ bank_details }}</td>
  </tr>
 </table>
</fieldset>
</center>
