<center>
<fieldset class="overview"><legend><h2>{{ overview.title }}</h2></legend>
 <table>
  <tr>
   <th>{{ overview.first_name }}</th><td>{{ first_name }}</td>
   <th>{{ overview.last_name }}</th><td>{{ last_name }}</td>
  </tr>  
  <tr>
   <th>{{ overview.email }}</th><td>{{ email }}</td>
   <th>{{ overview.username }}</th><td>{{ username }}</td>
  </tr>
  <tr>
   <th>{{ overview.perms }}</th><td colspan="3">{{ perms }}</td>
  </tr>
  <tr>
   <th>{{ overview.type }}</th><td>{{ type }}</td>
   <th>{{ overview.fte }}</th><td>{{ fte }}</td>
  </tr>
  <tr>
   <th>{{ overview.weekplan }}</th><td>{{ weekplan }}</td>
   <th>{{ overview.salary }}</th><td>{{ salary }}</td>
  </tr>
 </table>
</fieldset>
</center>
