<center>
<fieldset class="overview"><legend><h2>{{ overview.title }}</h2></legend>
 <table>
  <tr>
   <th>{{ overview.task.title }}</th><td colspan="5">{{ title }}</td>
  </tr>  
   <th>{{ overview.mandate }}</th><td>{{ mandate }}</td>
   <th>{{ overview.type }}</th><td>{{ type }}</td>
   <th>{{ overview.task.acronym }}</th><td>{{ acronym }}</td>
  </tr>
{% if income %}
  <tr>
   <th>{{ overview.task.budget }}</th><td colspan="2">{{ budget }}.-€</td>
   <th>{{ overview.task.income }}</th><td colspan="2">{{ income }}.-€</td>
  </tr>
{% else %}
  <tr>
   <th colspan="2">{{ overview.task.budget }}</th><td colspan="4">{{ budget }}.-€</td>
  </tr>
{% endif %}
{% if start_date %}
  <tr>
   <th>{{ overview.task.start_date }}</th><td colspan="2">{{ start_date }}</td>
   <th>{{ overview.task.end_date }}</th><td colspan="2">{{ end_date }}</td>
  </tr>
{% endif %}
  <tr>
   <th>{{ overview.task.head }}</th><td colspan="2">{{ head }}</td>
   <th>{{ overview.task.team }}</th><td colspan="3" rowspan="3">{{ team }}</td>
  </tr>
 </table>
</fieldset>
</center>
