{% extends "base.html" %}

{% block head %}
{{ block.super}}
  <!-- google charts //-->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart", "treemap"]});
  </script>
{% endblock %}

{% block content %}
  <h2>{{ title }}</h2>
  {% if error_message %}<p class="error">{{ error_message }}</p>{% endif %}

  <div style="display:table;">
  {% for user in user_charts_list %}
    <div style="display:table-row;"><div style="display:table-cell;vertical-align:middle;"><h2>Chart for {{ user.name }}: </h2></div><div style="display:table-cell;">{{ user.chart.as_html }}</div></div>
  {% endfor %}
  </div>

  {% if form %}
    <form action="." method="post">
     {% csrf_token %}
     <center>
     <fieldset><legend><h2>{{ subtitle }}</h2></legend>
      <table>
      {{ form }}
      </table>
     <hr/>
     <input id="submit" type="submit" value="{{ submit }}" /></center></p>
     </fieldset>
     </center>
    </form>
  {% endif %}
{% endblock %}


