{% extends "base.html" %}

{% block content %}
<div class="card">
{% if title %}<h2 class="card-header text-center text-dark">{{ title }}</h2>{% endif %}
{% if desc %}<p>{{ desc }}</p>{% endif %}
<div class="card-body row">
{% for part in actions %}
 {% if part.has_perms in groups or not part.has_perms %}
  {% if part.cols %}
   <div class="col-sm-{{ part.cols }}">
  {% else %}
   <div class="col">
  {% endif %}
   <div class="card">
     {% if part.heading %}<h4 class="card-header bg-info text-light">{{ part.heading }}</h2>{% endif %}
     <div class="card-body text-center">
        {% if part.desc %}<p class="card-text lead">{{ part.desc }}</p>{% endif %}
        {% for action in part.actions %}
        {% if action.has_perms in groups or not action.has_perms %}
          {% if action.url %}
            <a class="btn btn-outline-{{ action.grade }}" href="{{ action.url }}" role="button">{% if action.icon %}<i class="fa fa-{{ action.icon }}"></i>{% endif %}&nbsp;&nbsp;{{ action.label|safe }}&nbsp;</a>
     	    <br />
     	    {% if action.desc %}<span class="btn-footer">{{ action.desc|safe }}</span>{% endif %}
     	    <br />
     	    <br />
          {% endif %}
        {% endif %}
        {% endfor %}
     </div>
   </div>
  </div>
 {% endif %}
{% endfor %}
</div>
</div>
{% endblock %}
