{% extends "default.html" %}

{% load bootstrap4 %}

{% block content %}
<ul class="nav nav-pills">
  <li class="nav-item"><a class="nav-link active" data-toggle="tab" role="tab" href="#auth">{{ auth.title }}</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#reg">{{ auth.reg.title }}</a></li>
</ul>

<div class="card mx-5">
  <div class="card-body">
   <div class="col-xs-4"></div>

   <div class="tab-content">
     <div id="auth" class="tab-pane fade show active col-xs-4" role="tabpanel">
       <h2 class="text-info">{{ auth.title }}</h2>
       <form role="form" class="form-horizontal" method="post" action="{% url 'login' %}">
         {% csrf_token %}
         {% bootstrap_form form %}
         <center>
          <button class="btn btn-danger" type="submit">{{ auth.submit }}</button>
          <input type="hidden" name="next" value="{{ next }}" />
          <br/><a href="{% url 'password_reset' %}">Forgot password?</a>
         </center>
       </form>
     </div>
     <div id="reg" class="tab-pane fade col-xs-4" role="tabpanel">
       {{ auth.reg.content|safe }}
     </div>
   </div>

   <div class="col-xs-4"></div>
  </div>
</div>

{% endblock %}
