<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="none">

    <meta name="author" content="{{ meta.author }}">
    <meta name="copyright" content="{{ meta.copyright }}">
    
    <title>{{ meta.title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <meta name="keywords" content="{{ meta.keywords }}">
    
    <link rel="index" href="/" title="{{ meta.title }}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ meta.css.bt }}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ meta.css.bt_theme }}">
   
    <!-- custom stylesheet -->
    <link rel="stylesheet" href="{{ meta.css.own }}">

   <!-- fontawesome //-->
   <link rel="stylesheet" href="{{ meta.css.fontawesome.url }}" integrity="{{ meta.css.fontawesome.integrity }}" crossorigin="{{ meta.css.fontawesome.origin }}">

  {% endblock %}
</head>

<body role="document">

  {% if user.is_authenticated %}
  <div class="container-fluid mt-5">

    {% block navbar %}
      {% include "navigation.html" %}
    {% endblock %}

    {% block breadcrumbs %}
      <ol class="breadcrumb my-auto">
        <li>&nbsp;::&nbsp;<a class="text-light" href="/">home</a>&nbsp;::&nbsp;</li>
      {% for breadcrumb in request.breadcrumbs %}
        {% if forloop.last %}
          <li class="active"><a class="text-info" href="{{ breadcrumb.url }}"><i>{{ breadcrumb.name }}</i></a>&nbsp;::&nbsp;</li></ol>
        {% else %}
          <li><a class="text-light" href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>&nbsp;::&nbsp;</li>
        {% endif %}
      {% endfor %}
      </ol>
    {% endblock %}
  {% else %}
  <div class="container mt-5">

    <div class="container bg-light">
      <h1><a href="{{ meta.logo.url }}"><img src="{{ meta.logo.img }}" class="d-inline-block align-middle" height="80" alt=""></a>&nbsp;&nbsp;&nbsp;{{ meta.header|safe }}</h1>
    </div>
  {% endif %}

    <div class="jumbotron mb-1">
      {% block content %}{% endblock %}
    </div>

    <div class="footer">
     <p class="text-muted float-right">&copy; {{ meta.copyright }}</p>
    </div>

  </div> <!-- end container -->

  <!-- jquery //-->
  <script src="{{ meta.js.jq }}"></script>
  <!-- popper //-->
  <script src="{{ meta.js.popper }}"></script>

  <!-- bootstrap -->
  <script src="{{ meta.js.bt }}"></script>
  <!-- bootstrap bundle -->
  <script src="{{ meta.js.bt_bundle }}"></script>

</body>
</html>

