{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}

{% block errors %}
  {% if error_message %}<p class="error">{{ error_message }}</p>{% endif %}
{% endblock %}

<h2>{{ title }}</h2>
{% block form %}
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="row">
      <div class="col-sm-8 border-left border-info">
       <p class="lead border-bottom border-info">{{ header }}</p>
       <form role="form" action="." method="post" enctype="multipart/form-data">
        <div class="form-group px-3">
        {% csrf_token %}
        {% bootstrap_form form %}
        </div>
        <div class="btn-toolbar">
          <div class="btn-group">
            <button class="btn btn-info" type="submit" value="{{ submit }}">{{ submit }}&nbsp;&nbsp;<span class="glyphicon glyphicon-play"></span></button>
          </div>
        </div>
       </form>  
      </div>
      <div class="col-sm-4">
        {{ teaser }}
      </div>
      </div>
    </div>
  </div>
{% endblock %}

{% endblock %}

