{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}

{% block errors %}
  {% if error_message %}<p class="error">{{ error_message }}</p>{% endif %}
{% endblock %}

{% block form %}
  <div class="card card-info">
    <h2 class="card-header">{{ title }}</h2>
    <div class="card-body">
      {% if desc %}{{ desc|safe }}{% endif %}
    </div>
    <div class="card-body">
    <form role="form" class="form-horizontal" action="." method="post" enctype="multipart/form-data">
     {% csrf_token %}
     <div class="col-xs-10">
      {% bootstrap_form form %}
     </div">
      <div class="btn-toolbar pull-right">
       <div class="btn-group">
        <button class="btn btn-info" type="submit" value="{{ submit }}">{{ submit }}&nbsp;&nbsp;<span class="glyphicon glyphicon-play"></span></button>
       </div>
      </div>
    </form>  
    </div>
  </div>
{% endblock %}

{% endblock %}

