{% extends "base.html" %}

{% load render_table from django_tables2 %}

{% block content %}
  {% block actions %}
    <div class="float-right">
      {% for a in actions %}
       {% if a.has_perms in groups or not a.has_perms %}
        {% if a.url %}<a class="btn btn-{{ a.grade }}" href="{{ a.url }}" role="button">{% if a.icon %}<i class="fa fa-{{ a.icon }}"></i>{% endif %}&nbsp;&nbsp;{{ a.label }}&nbsp;</a>{% endif %}
       {% endif %}
      {% endfor %}
    </div>
  {% endblock %}

  <h2>{{ title }}</h2>
  {% if desc %}<p>{{ desc|safe }}</p>{% endif %}
  {% render_table table "table_with_page_numbers.html" %}
{% endblock %}


