<div class="overview">
<div class="panel panel-primary">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <i>{{ overview.date }}</i><pre>{{ when }} {{ time }}</pre>
      </div>
      <div class="col-sm-6">
        <i>{{ overview.location }}</i><pre>{{ location }}</pre>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-6">
        <i>{{ overview.agenda }}</i><pre>{{ agenda }}</pre>
      </div>
      <div class="col-sm-6">
        <i>{{ overview.invitation }}</i><pre>{{ invitation }}</pre>
        <i>{{ overview.attachement }}</i><a href="{{ attachement.url }}" target="_blank">{{ attachement.name }}</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <i>{{ overview.attendance }}</i><pre>{{ attendance }}</pre>
      </div>
      <div class="col-sm-6">
        <i>{{ overview.registration }}:&nbsp;</i><a href="{{ registration }}" target="_blank">{{ registration }}</a>
      </div>
    </div>
  </div>
</div>
</div>
