<div class="overview">
<div class="panel panel-primary">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <i>{{ overview.date }}</i><pre>{{ when }} {{ time }}</pre>
      </div>
      <div class="col-sm-6">
        <i>{{ overview.location }}</i><pre>{{ location }}</pre>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-6">
        <i>{{ overview.agenda }}</i><pre>{{ agenda }}</pre>
      </div>
      <div class="col-sm-6">
        <i>{{ overview.info }}</i><pre>{{ invitation }}</pre>
        <a href="{{ attachement.url }}" target="_blank">{{ attachement.name }}</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <i>{{ overview.regcode }}</i>&nbsp;{{ regcode|safe }}
      </div>
    </div>
  </div>
</div>
</div>
