{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<h2 class="text-center text-danger mb-5">{{ title|safe }}</h2>
{% if desc %}<p class="well well-sm">{{ desc }}</p>{% endif %}
{% if error_message %}<p class="error">{{ error_message }}</p>{% endif %}

<div class="card border-info">
  <div class="card-header">
    <h2 class="text-info">{{ step_title }}&nbsp;&nbsp;<span class="badge badge-pill badge-primary float-right">step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</span></h2>
    {% if step_desc %}
      <p class="text-primary">{{ step_desc|safe }}</p>
     {% endif %}
  </div>
 
  <div class="card-body">
  <form role="form" class="form-horizontal" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ wizard.management_form }}
    {{ wizard.form.non_form_errors }}

   {% if wizard.form.forms %}
      {{ wizard.form.management_form }}
      {% for form in wizard.form.forms %}
        {% bootstrap_form form %}
      {% endfor %}
    {% else %}
      {% bootstrap_form wizard.form %}
    {% endif %}
    {% buttons %}
      <div class="btn-group float-right">
        <button class="btn btn-info" type="submit" value="{{ next }}">{{ next }}&nbsp;&nbsp;<i class="fa fa-play"></i></button>
      </div>
      {% if wizard.steps.prev %}
      <div class="btn-group float-left">
        <button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}"><i class="fa fa-backward"></i>&nbsp;&nbsp;{{ first }}</button>
        <button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}"><i class="fa fa-step-backward"></i>&nbsp;&nbsp;{{ prev }}</button>
      </div>
      {% endif %}
    {% endbuttons %}
  </form>
  </div>
</div>
{{ overview }}
{% endblock %}
