{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<h2>{{ title|safe }}</h2>
{% if desc %}<p class="well well-sm">{{ desc }}</p>{% endif %}
{% if error_message %}<p class="error">{{ error_message }}</p>{% endif %}
<form role="form" class="form-horizontal" action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
 {{ wizard.management_form }}
 {{ wizard.form.non_form_errors }}
 <div class="panel panel-info">
  <div class="panel-heading">
   <h2 class="panel-title">{{ step_title }}&nbsp;<span class="badge pull-right">step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</span></h2>
  </div>
  <div class="panel-body">
  {% if step_desc %}<div class="well well-sm">{{ step_desc|safe }}</div>{% endif %}
   <div class="col-xs-10">
   {% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
      {% bootstrap_form form %}
    {% endfor %}
   {% else %}
    {% bootstrap_form wizard.form %}
   {% endif %}
   </div>
  </div>
 </div>
 {% buttons %}
 <div class="btn-toolbar">
  <div class="btn-group pull-right">
   <button class="btn btn-info" type="submit" value="{{ next }}">{{ next }}&nbsp;&nbsp{% bootstrap_icon "play" %}</button>
  </div>
 {% if wizard.steps.prev %}
  <div class="btn-group pull-left">
   <button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% bootstrap_icon "backward" %}&nbsp;&nbsp;{{ first }}</button>
   <button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% bootstrap_icon "step-backward" %}&nbsp;&nbsp;{{ prev }}</button>
  </div>
 {% endif %}
 </div>
 {% endbuttons %}
</form>
  {{ overview }}
{% endblock %}
