{% extends "base.html" %}

{% load extra_tags %}

{% block content %}
<center>
<form role="form" class="form-horizontal" method="post" action="{% url 'login' %}">
{% csrf_token %}
 <div class="panel panel-success">
  <div class="panel-heading">
   <h2 class="panel-title">{{ auth.title }}</h2>
  </div>
  <div class="panel-body">
   {% for field in form %}
     <div class="form-group row">
       {% if field.errors %}<div class="col-xs-12">{{ field.errors }}</div>{% endif %}
       <div class="col-xs-3"></div>
       <div class="col-xs-3">{{ field.label_tag }}</div>
       <div class="col-xs-3">{{ field|addclass:"form-control" }}</div>
       <div class="col-xs-3"></div>
     </div>
   {% endfor %}
   <button class="btn btn-danger" type="submit">{{ auth.submit }}</button>
   <input type="hidden" name="next" value="{{ next }}" />
  </div>
  <div class="footer">
    <a href="{% url 'password_reset_recover' %}">Forgot password?</a>
  </div>
 </div>
</form>
</center>
{% endblock %}
