<div class="overview">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">{{ overview.title }}</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4">
        <dl class="dl-horizontal">
          <dt>{{ overview.name }}</dt><dd class="lead">{{ name }}</dd>
          <dt>{{ overview.contact }}</dt><dd class="lead">{{ contact }}</dd>
          <dt>{{ overview.email }}</dt><dd class="lead">{{ email }}</dd>
        </dl>
      </div>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>{{ overview.type }}</dt><dd class="lead">{{ type }}</dd>
          <dt>{{ overview.address_1 }}</dt><dd class="lead">{{ address_1 }}</dd>
          <dt>{{ overview.address_2 }}</dt><dd class="lead">{{ address_2 }}</dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <dl class="dl-horizontal">
          <dt>{{ overview.bank_details }}</dt><dd>{{ bank_details }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
</div>
