<div class="overview">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">{{ overview.title }}</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <dl class="dl-horizontal">
          <dt>{{ overview.task.title }}</dt><dd class="lead">{{ title }}</dd>
        </dl>
      </div>
      <div class="col-sm-6">
        <dl class="dl-horizontal">
          <dt>{{ overview.task.acronym }}</dt><dd class="lead">{{ acronym }}</dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <dl class="dl-horizontal">
          <dt>{{ overview.mandate }}</dt><dd class="lead">{{ mandate }}</dd>
          <dt>{{ overview.type }}</dt><dd class="lead">{{ type }}</dd>
        </dl>
      </div>
{% if start_date %}
      <div class="col-sm-6">
        <dl class="dl-horizontal">
          <dt>{{ overview.task.start_date }}</dt><dd class="lead">{{ start_date }}</dd>
          <dt>{{ overview.task.end_date }}</dt><dd class="lead">{{ end_date }}</dd>
        </dl>
      </div>
{% endif %}
    </div>
    <div class="row">
      <div class="col-sm-4">
        <dl class="dl-horizontal">
          <dt>{{ overview.task.budget }}</dt><dd class="lead">{{ budget }}</dd>
          <dt>{{ overview.task.income }}</dt><dd class="lead">{{ income }}</dd>
        </dl>
      </div>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>{{ overview.task.head }}</dt><dd class="lead">{{ head }}</dd>
          <dt>{{ overview.task.team }}</dt><dd class="lead">{{ team }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
</div>
