<div class="overview">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">{{ overview.title }}</h2>
  </div>
  <div class="panel-body">
  {% if skill %}
    <div class="row">
      <div class="col-sm-12">
        <dl class="dl-horizontal">
          <dt>{{ overview.skill }}</dt><dd class="lead">{{ skill }}</dd>
        </dl>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col-sm-12">
        <dl class="dl-horizontal">
          <dt>{{ overview.skill }}</dt><dd class="lead">{{ title }}</dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <dl class="dl-horizontal">
        {% if end %}
          <dt>{{ overview.start }}</dt><dd class="lead">{{ start }}</dd>
          <dt>{{ overview.end }}</dt><dd class="lead">{{ end }}</dd>
        {% else %}
          <dt>{{ overview.duration }}</dt><dd class="lead">{{ start }} {{ duration }}</dd>
        {% endif %}
        </dl>
      </div>
      <div class="col-sm-6">
        <dl class="dl-horizontal">
          <dt>{{ overview.type }}</dt><dd class="lead">{{ type }}</dd>
          <dt>{{ overview.location }}</dt><dd class="lead">{{ location }}</dd>
        </dl>
      </div>
    </div>
  {% endif %}
    <div class="row">
      <div class="col-sm-12">
        <dl class="dl-horizontal">
          <dt>{{ overview.comment }}</dt><dd class="lead">{{ comment }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
</div>

